dist/
build/
deb-package/
AppDir/
*.spec
*.deb
*.AppImage
*.zip
__pycache__/
venv/
appimagetool
deb_extracted/
*.tar.gz
venv/
__pycache__/
.aider*/

debug.log
venv/
build/
dist/
AppDir/usr/bin/liveflow-widget
*.AppImage
.venv/
squashfs-root/

!windows-updater.spec
